<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Transação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="transactionForm">
    <ion-list>
      <ion-item>
        <ion-input formControlName="title" labelPlacement="floating" label="Descrição: " type="text"></ion-input>
        <p class="validation-error">
        @if(hasError('title', 'required')) {
          O campo é obrigatório
        }
        @if(hasError('title', 'minlength')) {
          A descrição deve ter no mínimo 3 caracteres
        }
        @if(hasError('title', 'maxlength')) {
          A descrição deve ter no máximo 150 caracteres
        }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="price" labelPlacement="floating" label="Valor" type="text" [maskito]="priceMask"
          [maskitoElement]="maskitoElement" />
      </ion-item>

      <ion-item>
        <ion-select formControlName="category" label="Tipo" label-placement="floating">
          <ion-select-option value="Receita">Receita</ion-select-option>
          <ion-select-option value="Despesa">Despesa</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="launchDate" labelPlacement="floating" label="Data" [maskito]="dateMask"
          [maskitoElement]="maskitoElement" />
      </ion-item>

      <ion-item>
        <ion-input formControlName="image" labelPlacement="floating" label="URL da Imagem" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select formControlName="accounts" [compareWith]="compareWith" label="Categorias" label-placement="floating" multiple="true">
          @for(account of accounts; track account) {
            <ion-select-option [value]="account">{{account.name}} ({{account.manufacture}})</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="transactionForm.invalid" (click)="save()" class="botao-adicionar">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
