<ion-header class="modern-header" [translucent]="true">
  <ion-toolbar class="modern-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="modern-title">Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pessoas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="transaction-container">
    <ng-container *ngIf="peopleList?.length; else emptyState">
      <ion-card class="transaction-card" *ngFor="let person of peopleList; trackBy: trackById">
        <div class="transaction-content">
          <div class="transaction-icon">
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
          </div>
          <div class="transaction-details">
            <div class="transaction-header">
              <h2>{{ person.name }}</h2>
              <span class="transaction-date">{{person.email}}</span>
            </div>
            <div class="transaction-info">
              <span class="transaction-category">{{ person.phone }}</span>
              <div class="transaction-categories">
                <ion-chip *ngIf="person.notes">
                  <ion-label>{{person.notes}}</ion-label>
                </ion-chip>
              </div>
            </div>
          </div>
          <div class="transaction-actions">
            <ion-button fill="clear" size="small" color="danger" (click)="remove(person)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </ng-container>
    <ng-template #emptyState>
      <ion-card class="empty-state">
        <ion-card-content>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
          <p>Nenhuma pessoa cadastrada ainda!</p>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="botao-adicionar" [routerLink]="['/people/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
