<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/people"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding light-text">
  <form [formGroup]="personForm" (ngSubmit)="save()" novalidate>
    <ion-list>
      <ion-item [class.invalid]="isInvalid('name')">
        <ion-input formControlName="name" labelPlacement="floating" label="Nome" type="text"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="isInvalid('name')">Nome é obrigatório.</ion-note>

      <ion-item [class.invalid]="isInvalid('email')">
        <ion-input formControlName="email" labelPlacement="floating" label="E-mail" type="email"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="isInvalid('email')">
        <ng-container *ngIf="personForm.get('email')?.errors?.['required']">E-mail é obrigatório.</ng-container>
        <ng-container *ngIf="personForm.get('email')?.errors?.['email']">E-mail inválido.</ng-container>
      </ion-note>

      <ion-item>
        <ion-input formControlName="phone" labelPlacement="floating" label="Telefone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="notes" labelPlacement="floating" label="Notas" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="personForm.invalid || loading" (click)="personForm.valid && save()">
      <ion-icon *ngIf="!loading" name="checkmark"></ion-icon>
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
</ion-content>
