ion-content {
  --background: var(--ion-color-dark);
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-light);
    
    ion-back-button {
      --color: var(--ion-color-light);
    }
  }
}

ion-list {
  background: transparent;
  padding: 0;
  margin-bottom: 80px; // Espaço para o botão flutuante
}

ion-item {
  --background: var(--ion-color-dark-shade);
  --border-radius: 8px;
  margin-bottom: 16px;
  --border-color: rgba(255, 255, 255, 0.1);
  --highlight-color-focused: var(--ion-color-primary);
  --color: var(--ion-color-light);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  &:last-child {
    margin-bottom: 0;
  }

  ion-label {
    color: var(--ion-color-light) !important;
  }

  ion-input, ion-select {
    --color: var(--ion-color-light);
    --placeholder-color: var(--ion-color-light-shade);
  }

  &.item-has-focus {
    --background: var(--ion-color-dark-tint);
  }
}

.validation-error {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  margin: 4px 0 0 16px;
}

ion-select {
  width: 100%;
  --placeholder-color: var(--ion-color-light-shade);
}

ion-select-option {
  --color: var(--ion-color-dark);
}

ion-fab-button.botao-adicionar {
  margin-bottom: 16px;
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
  --background-hover: var(--ion-color-primary-tint);
}
